.hide-list {
    display: none;
    //visibility: hidden;
}
.list-container {
    min-width: 500px;
    max-width: 60rem;
    height: auto;
    width: 800px;
}
.buttons-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

// .plugin-page-container {
    .child-container {
        display: inline-table;
        width: 28rem;
    }
// }
@media (max-width: 460px) {
    // .plugin-page-container {
        .child-container {
            display: inline-table;
            width: 100%;
        }
    // }
}
